.light {
  --bg-color-light: #fefefefe;
  --bg-color: #ecececfe;
  --primary-color: #333;
  --secondary-color: #3ac07d;
  --primary-color-light: #cccccc3d;
}
.dark {
  --bg-color: #111111fe;
  --bg-color-light: #333333fe;
  --primary-color: #eeeeee;
  --secondary-color: #3ac07d;
  --primary-color-light: #cccccc3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  background-color: var(--bg-color);
}

.btn {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  outline: none !important;
  border: none !important;
  padding: 0.5rem 2rem;
  border-radius: 2px;
}

.theme-switcher {
  position: fixed;
  right: 4%;
  top: 4rem;
  padding: 1rem;
  font-size: 2rem;
  height: 78px;
  width: 78px;
  border-radius: 50%;
  z-index: 1;
  border: 1px solid var(--bg-color-light);
  box-shadow: 0px 0px 10px var(--bg-color-light);
  border: none;
  outline: none;
  background: var(--primary-color);
}

.theme-switcher span {
  display: none;
}

.theme-switcher .show {
  display: block !important;
}

.navbar-wrapper {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 3rem;
  background-color: var(--bg-color-light);
  border-bottom: 1px solid var(--primary-color-light);
}

.navbar {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 1rem 0.5rem;
  color: var(--secondary-color);
}

.separator {
  flex: 1;
}

.links {
  display: flex;
  list-style: none;
}

.link,
.link a {
  text-transform: capitalize;
  padding: 1rem 0.5rem;
}

.active a,
.link a:hover {
  color: var(--secondary-color) !important;
}

.toggle {
  display: none;
  color: var(--primary-color);
}

@media (max-width: 720px) {
  .links {
    left: 0;
    top: 2.4rem;
    position: absolute;
    flex-direction: column;
    background-color: var(--bg-color-light);
    width: 100vw;
    align-items: center;
    padding-top: 4rem;
    height: 100vh;
    transition: height 0.2s ease-out;
  }
  .hide {
    transition: all 0.4s ease-in;
    top: -100vh;
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
  .link {
    padding: 0.8rem;
  }
  .toggle {
    display: block;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    outline: none;
  }
}

main {
  margin-top: 4rem;
}

.blogs-list {
  display: grid;
  width: 95%;
  max-width: 1000px;
  margin: auto;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.blog {
  cursor: pointer;
  border: 1px solid var(--primary-color-light);
  color: var(--primary-color);
  background-color: var(--bg-color-light);
}

.blog img {
  height: 100%;
  transition: height 0.8s ease-out;
}

.blog:hover {
  /* position: relative; */
  transform: scale(102%);
  transition: all 0.2s ease-in-out;
  box-shadow: 4px 4px 10px var(--primary-color-light);
}

.blog-image {
  height: 200px;
  overflow: hidden;
  background-color: var(--primary-color);
}

.blog:hover img {
  height: 120%;
}

.blog-body {
  padding: 1rem;
  display: flex;
  height: calc(100% - 200px);
  flex-direction: column;
  justify-content: space-between;
}

.blog-footer {
  margin-top: 2rem;
}

.blog-footer ul {
  display: flex;
  justify-content: space-around;
}

.login-page {
  width: 100vw;
  margin: 4rem auto;
  margin-bottom: 0;
}

.login {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  width: 80%;
  max-width: 800px;
  margin: auto;
  background: var(--bg-color-light);
}

.login > div {
  border: 1px solid var(--primary-color-light);
}

.login-image img {
  width: 100%;
  margin: 4rem auto;
}

.login-body {
  padding: 2rem;
}

.login-body h2 {
  text-align: center;
}

.login-body form {
  margin: 2rem 0;
}

.input-field {
  margin-bottom: 2rem;
}

.input-field label {
  display: block;
  padding: 0.3rem 0;
  color: var(--primary-color);
}

.input-field input {
  color: var(--primary-color);
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  background: var(--bg-color-light);
  outline: none;
  border: 1px solid var(--primary-color);
}

.input-field .image-preview {
  height: 400px;
  overflow: hidden;
  background: var(--primary-color);
}

.image-preview img {
  height: 100%;
}
